* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  margin: 3em;
  width: 100%;
  text-align: center;
}
/* main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
form {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
footer {
  text-align: center;
  margin-top: 3em;
}
